<h1>Search by Superhero Name:</h1>

<%= form_tag superheros_path, method: :post do %>
<p> 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
</p>
<% end %>

<h1>List of Searched Superheroes</h1>

<% @superheros.each do |superhero| %>
    <%= link_to superhero.name_and_alter, superhero_path(superhero) %><br>
<% end %>